<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= data.name %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.email %></h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.phoneNum %></h6>
    <p class="card-text">In contact list since <%= data.createAt %>.</p>
    <a href="/" class="card-link">Back</a>
  </div>
</div>
